/* General */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
}

.header {
    padding: 0;
    margin: 0;
    height: 10vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Light Mode (default) */
.light-mode {
    background-color: white;
    padding: 50px;
    width: 50%;
}

.todo-container.light-mode {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Dark Mode */
.dark-mode {
    background-color: black;
    padding: 50px;
    width: 50%;
}

.todo-container.dark-mode {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.9);
    width: 300px;
    text-align: center;
}

/* Add Task Button */
#add-task-button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-button:hover {
    background-color: #218838;
}

/* List */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #eee;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

li button {
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}

/* Dark Mode Button */
#dark-mode-button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dark-mode-button:hover {
    background-color: darkgray;
}