/* General */
body {
    /* Visuals */
    background-color: #23272A;

    /* Box Model */
    margin: 0;

    /* Typography */
    font-family: Arial, sans-serif;
}

/* Dark Mode (default) */
.dark-mode h1 {
    /* Visuals */
    color: white;
}


.dark-mode .header-container {
    /* Positioning */
    display: flex;
    justify-content: flex-start;
    gap: 50px;

    /* Visuals */
    background-color: #4A4A4A;
    color: white;

    /* Box Model */
    padding-left: 30px;
    font-size: 30px;
}

.dark-mode .todo-container {
    /* Visuals */
    background-color: #6D6D6D;

    /* Box Model */
    padding: 30px 30px 15px 30px;
    margin: 30px 40% 30px 30px;
    border-radius: 10px;
}

.dark-mode #task-input {
    /* Box Model */
    padding: 10px;
    width: 70%;
    border: 1px solid #4A4A4A;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #353535;
    color: white;
}

.dark-mode li {
    /* Positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Visuals */
    background-color: #353535;
    color: white;

    /* Box Model */
    padding: 10px;
    margin: 5px 0 5px 0;
    border-radius: 5px;
}

/* Add Task Button */
#add-task-button {
    /* Visuals */
    background-color: #28a745;
    color: white;

    /* Box Model */
    padding: 15px;
    border: none;
    border-radius: 5px;

    /* Others */
    cursor: pointer;
}

#add-task-button:hover {
    background-color: #218838;
}

/* Light Mode (WIP) */

/* List */
ul {
    /* Box Model */
    padding-left: 0;
    width: 75%;
}

li #delete-task-button {
    /* Visuals */
    background-color: #dc3545;
    color: white;

    /* Box Model */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;

    /* Others */
    cursor: pointer;
}

li #delete-task-button:hover {
    /* Visuals */
    background-color: #c82333;
}

/* Dark Mode Button */
#dark-mode-button {
    /* Visuals */
    background-color: rgba(25, 25, 25, 1);
    color: white;

    /* Box Model */
    width: 50px;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;

    /* Others */
    cursor: pointer;
}

#dark-mode-button:hover {
    /* Visuals */
    background-color: rgba(50, 50, 50, 0.75);
}